.tabview {
  position: absolute;
  overflow: visible;
  white-space: nowrap;
  font-size: 0.8em;
  border-bottom: 1px solid #aaa;
}
.tabview > div.selected {
  background-color: #aaa;
  color: #000;
}
.tabview > * {
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  padding: 2px 5px;
}
.tabview > div > * {
  display: inline-block;
  height: inherit;
}
.tabview > div > *:first-child {
  overflow: hidden;
  margin-right: 2px;
}

.tabview > div > a {
  color: #888;
  font-size: 80%;
  padding: 2px;
}
.tabview > div > a:hover {
  color: #d44;
}

