.tabview {
  position: absolute;
  overflow: visible;
  white-space: nowrap;
  font-size: 0.8em;
  border-bottom: 1px solid #aaa;
}
.tabview > * {
  display: inline-block;
  overflow: hidden;
  margin: 2px 1px 0 1px;
  border: 1px solid #aaa;
  border-radius: 6px 6px 0 0;
  background-color: #fff;
  cursor: pointer;
  color: #000;
  opacity: 0.6;
  padding: 0 3px;
}
.tabview > div > *:first-child {
  display: inline;
  overflow: hidden;
  margin-right: 2px;
}

.tabview > div > a {
  color: #888;
  font-size: 80%;
  padding: 2px;
}
.tabview > div > a:hover {
  color: #d44;
}


.tabview > div:hover {
  opacity: 0.8;
}

.tabview > div.selected {
  opacity: 1.0;
  border-bottom: 1px solid #fff;:
}
